<template>
  <v-container>
    <v-layout fluid fill-height>
      <v-flex>

      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>